@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-9">
        <a class="twitter-timeline" href="https://twitter.com/ResonateAU?ref_src=twsrc%5Etfw">Tweets by ResonateAU</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-3">
        <div style="margin-top: 10px;">
            <a href="https://twitter.com/intent/tweet?screen_name=resonateau&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to resonateau</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
     </div>
</div>


